<!DOCTYPE html>
<html>
<head>
<title>Samsung EU Common UIO</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* base template(global common) css */-->
<link rel="stylesheet" type="text/css" href="/etc/designs/smg/global/templates/clientlibs/css/main.css">
<!--/* template css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
<!--[if lt IE 9]>
    <script src="/etc/designs/smg/global/ie9/html5.js"></script>
<![endif]-->
<style>
    #wrap {max-width:1440px;margin:0 auto;padding-bottom:50px;}
    h1 {padding: 10px 0;}
    h2 {margin-top: 30px;}
    hr {margin-top: 30px;}
    .uio-box {position:relative; border:5px solid rgba(0,0,0,.1);padding: 15px;margin-top:15px;background-color:#eee;vertical-align:top}
    .uio-box h2 {margin-bottom:10px;font-size: 15px;}
    .uio-box.v2 h2 {margin-top:7px}
    .fc-blue {color:blue}
</style>
</head>
<body>
<div id="wrap">
    <div class="s-skip-content">
        <a href="#content" id="skipToContent">Skip to content</a>
        <a href="#accHelp" id="skipToAccHelp">Skip to accessibility help</a>
    </div>
    <!--/* header */-->

    <!--/* content */-->
    <div>
        <div id="content" role="main">
            <h1>Samsung EU Common UIO</h1>
            <hr>
            <h2>encased button <span class="fc-blue">(global common)</span></h2>
            <div class="uio-box">
                <a href="#" class="s-btn-encased"><span class="s-cta-text">Link</span></a>
                <button type="button" class="s-btn-encased"><span class="s-cta-text">Button</span></button>
                <a href="#" class="s-btn-encased s-ico-new-window" target="_blank" title="Open in a new window"><span class="s-cta-text">New Window Link</span></a>
            </div>

            <h2>encased button type2<span class="fc-blue"> (case hover blue)</span></h2>
            <div class="uio-box">
                <a href="#" class="s-btn-encased type2"><span class="s-cta-text">Link</span></a>
                <button type="button" class="s-btn-encased type2"><span class="s-cta-text">Button</span></button>
                <a href="#" class="s-btn-encased s-ico-new-window type2" target="_blank" title="Open in a new window"><span class="s-cta-text">New Window Link</span></a>
            </div>

            <h2>white color encased button <span class="fc-blue">(global common)</span></h2>
            <div class="uio-box" style="background-color: #333">
                <a href="#" class="s-btn-encased s-white"><span class="s-cta-text">Link</span></a>
                <button type="button" class="s-btn-encased s-white"><span class="s-cta-text">Button </span></button>
                <a href="#" class="s-btn-encased s-white s-ico-new-window" target="_blank" title="Open in a new window"><span class="s-cta-text">New Window Link</span></a>
            </div>

            <h2>text button <span class="fc-blue">(global common)</span></h2>
            <div class="uio-box">
                <a href="#" class="s-btn-text">Learn More</a><br/>
            </div>
            <div class="uio-box">
                <!-- [D] expand button class control
                    show : .s-ico-down
                    less : .s-ico-up
                -->
                <button type="button" class="s-btn-text s-ico-down" data-global-text='{
                        "show" : "Show more",
                        "less" : "Show less"
                    }'>Show More</button><br/>
            </div>
            <div class="uio-box">
                <button type="button" class="s-btn-text s-ico-up" data-global-text='{
                        "show" : "Show more",
                        "less" : "Show less"
                    }'>Show Less</button><br/>
            </div>
            <div class="uio-box">
                <a href="#" class="s-btn-text s-ico-new-window">Learn More</a><br/>
            </div>

            <h2>review star ranking (EU common)</h2>
            <div class="uio-box" style="background-color:#fff">
                <a href="#" class="eu-ranking">
                    <div class="eu-ranking__star">
                        <div class="eu-ranking__star-item">
                            <span class="eu-star-empty"></span>
                            <span class="eu-star-filled" style="width:100%;"></span>
                        </div>
                        <div class="eu-ranking__star-item">
                            <span class="eu-star-empty"></span>
                            <span class="eu-star-filled" style="width:100%;"></span>
                        </div>
                        <div class="eu-ranking__star-item">
                            <span class="eu-star-empty"></span>
                            <span class="eu-star-filled" style="width:100%;"></span>
                        </div>
                        <div class="eu-ranking__star-item">
                            <span class="eu-star-empty"></span>
                            <span class="eu-star-filled" style="width:100%;"></span>
                        </div>
                        <div class="eu-ranking__star-item">
                            <span class="eu-star-empty"></span>
                            <span class="eu-star-filled" style="width:50%;"></span>
                        </div>
                    </div>
                    <p class="eu-ranking__count"><span>4.5</span> (1024)</p>
                </a>
            </div>

        </div>
    </div>

    <!--/* footer */-->

    <div class="s-gotop-wrap">
        <button class="s-btn-gotop">Go To TOP</button>
    </div>
</div>
<!--/* common js */-->
<script src="/etc/designs/smg/global/templates/clientlibs/js/main.js"></script>
<!--/* template js */-->
<script src="clientlibs/js/main.js"></script>

<script>
$(function () {
    // use ajax
    $('.cm-configurator-popup-opener.is-async').on('click', function (e) {
        var _target = $(e.currentTarget);
        _target.trigger('clickCustom');
    });
});
</script>

</body>
</html>
