@mixin ie8-sprite($x, $y) {
   .no-svg & {
       background-image: url('#{$path-common-img}/sp-eu-common-ie8.png');
       background-position: $x + px $y + px;
   }
}
.eu-ranking {
    display: inline-block;
    position: relative;
    letter-spacing: -5px;
    white-space: nowrap;
    &__star {
        display: inline-block;
        @include vw-convert-pc(min-width, 85); // 갤탭 대응
        vertical-align: middle;
        @include clearfix;
        &-item {
            float: $def-float;
            position: relative;
            @include vw-convert-pc(width, 13);
            @include vw-convert-pc(height, 13);
            @include vw-convert-pc(margin, 0 2);
        }
        .eu-star-empty, .eu-star-filled {
            display: block;
            height: 100%;
            &:after {
                display: block;
                @include vw-convert-pc(width, 13);
                @include vw-convert-pc(height, 13);
                background: {
                    repeat: no-repeat;
                    size: 100% auto;
                }
                content: '';
            }
        }
        .eu-star-empty {
            &:after {
                background-image: url('#{$path-common-img}/eu-ico-rating.svg');
                @include ie8-sprite(-35, -52);
            }
        }
        .eu-star-filled {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            &:after {
                background-image: url('#{$path-common-img}/eu-ico-rating-filled.svg');
                @include ie8-sprite(-18, -52);
            }
        }
    }
    &__count {
        display: inline-block;
        @include vw-convert-pc(margin-#{$def-float}, 2);
        @include vw-font-size-pc(12);
        color: $color3;
        letter-spacing: 0;
        vertical-align: middle;
        span {
            color: $color11;
        }
    }
}
.s-no-rate {
    @include vw-font-size-pc(12);
    color: $color3;
    &:before {
        display: inline-block;
        width: 10px;
        height: 10px;
        @if $def-direction == ltr {
            @include vw-convert-pc(margin, -1 7 1 0);
        } @else {
            @include vw-convert-pc(margin, -1 0 1 7);
        }
        background: url('#{$path-common-img}/s-ico-plus.svg') no-repeat;
        background-size: 100% 100%;
        vertical-align: middle;
        content: '';
    }
}

@include breakpoint(mobile) {
    .eu-ranking {
        &__star {
            @include vw-convert-mo(min-width, 75); // android 4.~ 대응
            &-item {
                @include vw-convert-mo(width, 13);
                @include vw-convert-mo(height, 13);
                @include vw-convert-mo(margin, 0 1);
                .eu-star-empty, .eu-star-filled {
                    &:after {
                        @include vw-convert-mo(width, 13);
                        @include vw-convert-mo(height, 13);
                    }
                }
            }
        }
        &__count {
            @include vw-font-size-mo(12);
            @include vw-convert-mo(margin-#{$def-float}, 4);
        }
    }

    .cm-eu-card__review {
        font-size: inherit !important;
    }
    .s-no-rate {
        @include vw-font-size-mo(12);
        color: $color5;
        &:before {
            @include vw-convert-mo(width, 10);
            @include vw-convert-mo(height, 10);
            @if $def-direction == ltr {
                @include vw-convert-mo(margin, -1 6 1 0);
            } @else {
                @include vw-convert-mo(margin, -1 0 1 6);
            }
        }
    }
}