<!DOCTYPE html>
<html lang="en"><!--/* [D] 해당 국가코드 삽입 */-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>Common UIO</title>
	<!--/* meta tags */-->
	<link rel="stylesheet" type="text/css" href="/etc/designs/smg/global/templates/clientlibs/css/main.css">
	<!--#include virtual="/@include/js-modern.html"-->
	<style>
		h1 {margin-top: 30px;}
		.uio-box {position:relative; border:5px solid rgba(0,0,0,.1);padding: 15px;margin-top:15px;}
		.uio-box h2 {margin-bottom:10px;font-size: 15px;}
		.uio-box.v2 h2 {margin-top:7px}
	</style>
</head>
<body>
<div id="wrap">
	<!--/* content */-->
	<div id="content" class="st-home" role="main">
		<h1>Energe Label</h1>
		<p>배경 색과 등급 텍스트별로 class name 변경</p>
		<div class="uio-box v2">
			<p class="s-energy-label">
				<a href="#" target="_blank" title="Open in a new window" class="s-energy-label__txt">Product Fiche</a><a href="#" target="_blank" title="Open in a new window" class="s-energy-label__tag s-first-level"><span class="s-grade-a">A</span></a>
			</p>
			<p class="s-energy-label">
				<a href="#" target="_blank" title="Open in a new window" class="s-energy-label__txt">Product Fiche</a><a href="#" target="_blank" title="Open in a new window" class="s-energy-label__tag s-second-level"><span class="s-grade-a-plus">A+</span></a>
			</p>
			<p class="s-energy-label">
				<a href="#" target="_blank" title="Open in a new window" class="s-energy-label__txt">Product Fiche</a><a href="#" target="_blank" title="Open in a new window" class="s-energy-label__tag s-third-level"><span class="s-grade-a-plus2">A++</span></a>
			</p>
			<p class="s-energy-label">
				<a href="#" target="_blank" title="Open in a new window" class="s-energy-label__txt">Product Fiche</a><a href="#" target="_blank" title="Open in a new window" class="s-energy-label__tag s-fourth-level"><span class="s-grade-a-plus3">A+++</span></a>
			</p>
			<p class="s-energy-label">
				<a href="#" target="_blank" title="Open in a new window" class="s-energy-label__txt">Product Fiche</a><a href="#" target="_blank" title="Open in a new window" class="s-energy-label__tag s-fifth-level"><span class="s-grade-b">B</span></a>
			</p>
			<p class="s-energy-label">
				<a href="#" target="_blank" title="Open in a new window" class="s-energy-label__txt">Product Fiche</a><a href="#" target="_blank" title="Open in a new window" class="s-energy-label__tag s-sixth-level"><span class="s-grade-c">C<span></a>
			</p>
			<p class="s-energy-label">
				<a href="#" target="_blank" title="Open in a new window" class="s-energy-label__txt">Product Fiche</a><a href="#" target="_blank" title="Open in a new window" class="s-energy-label__tag s-seventh-level"><span class="s-grade-d">D</span></a>
			</p>
			<p class="s-energy-label">
				<a href="#" target="_blank" title="Open in a new window" class="s-energy-label__txt">Product Fiche</a><a href="#" target="_blank" title="Open in a new window" class="s-energy-label__tag s-first-level"><span class="s-grade-e">E</span></a>
			</p>
			<p class="s-energy-label">
				<a href="#" target="_blank" title="Open in a new window" class="s-energy-label__txt">Product Fiche</a><a href="#" target="_blank" title="Open in a new window" class="s-energy-label__tag s-second-level"><span class="s-grade-f">F</span></a>
			</p>
			<p class="s-energy-label">
				<a href="#" target="_blank" title="Open in a new window" class="s-energy-label__txt">Product Fiche</a><a href="#" target="_blank" title="Open in a new window" class="s-energy-label__tag s-third-level"><span class="s-grade-g">G</span></a>
			</p>
		</div>

		<h1>Button</h1>
		<div class="uio-box">
			<h2>[Encased Button - default]</h2>
			<a href="#" class="s-btn-encased">Get The Details</a><br/><br/>
			<p>새 창 링크일 경우 s-ico-new-window 선언</p><br/>
			<a href="#" class="s-btn-encased s-ico-new-window" title="Open in New Window">Get The Details</a>
		</div>
		<div class="uio-box" style="background:#363636;color:#fff;">
			<h2>[Encased Button - white]</h2>
			<p>버튼 태그 혹은 버튼 부모요소에 s-white 선언</p><br>
			<a href="#" class="s-btn-encased s-white">Get The Details</a><br><br>
			<p>새 창 링크일 경우 s-ico-new-window 선언</p><br/>
			<a href="#" class="s-btn-encased s-white s-ico-new-window" title="Open in New Window">Get The Details</a><br><br>
			<p>흰색 바탕이 있는 버튼일 경우 s-btn-white 선언</p><br/>
			<a href="#" class="s-btn-encased s-white s-btn-white">Get The Details</a>
		</div>
		<div class="uio-box">
			<h2>[Encased Button - mobile 100%]</h2>
			<a href="#" class="s-btn-encased s-mo-full">Lorem ipsum dolor sit</a><br><br>
			<p>새 창 링크일 경우 s-ico-new-window 선언</p><br/>
			<a href="#" class="s-btn-encased s-mo-full s-ico-new-window" title="Open in New Window">Lorem ipsum dolor sit</a>
		</div>
		<div class="uio-box">
			<h2>[Text Button - default]</h2>
			<a href="#" class="s-btn-text">Get The Details</a><br><br>
			<p>새 창 링크일 경우 s-ico-new-window 선언</p><br/>
			<a href="#" class="s-btn-text s-ico-new-window" title="Open in New Window">Get The Details</a>
		</div>
		<div class="uio-box">
			<h2>[Text Button - disabled]</h2>
			<a href="#" class="s-btn-text s-btn-text-disabled">Get The Details</a>
		</div>
		<div class="uio-box" style="background:#363636;color:#fff;">
			<h2>[Text Button - white]</h2>
			<p>버튼 태그 혹은 버튼 부모요소에 s-white 선언</p><br>
			<a href="#" class="s-btn-text s-white">Get The Details</a><br><br>
			<p>새 창 링크일 경우 s-ico-new-window 선언</p><br/>
			<a href="#" class="s-btn-text s-white s-ico-new-window" title="Open in New Window">Get The Details</a>
		</div>
		<div class="uio-box">
			<h2>[Text Button - ico down]</h2>
			<a href="#" class="s-btn-text s-ico-down">view more</a>
		</div>
		<div class="uio-box">
			<h2>[Text Button - ico down disabled]</h2>
			<a href="#" class="s-btn-text s-ico-down s-ico-down-disabled">view more</a>
		</div>
		<div class="uio-box" style="background:#363636;color:#fff;">
			<h2>[Text Button - ico down white]</h2>
			<p>버튼 태그 혹은 버튼 부모요소에 s-white 선언</p><br>
			<a href="#" class="s-btn-text s-ico-down s-white">Get The Details</a>
		</div>
		<div class="uio-box">
			<h2>[Text Button - ico up]</h2>
			<a href="#" class="s-btn-text s-ico-up">view more</a>
		</div>
		<div class="uio-box">
			<h2>[Text Button - ico up disabled]</h2>
			<a href="#" class="s-btn-text s-ico-up s-ico-up-disabled">view more</a>
		</div>
		<div class="uio-box" style="background:#363636;color:#fff;">
			<h2>[Text Button - ico up white]</h2>
			<p>버튼 태그 혹은 버튼 부모요소에 s-white 선언</p><br>
			<a href="#" class="s-btn-text s-ico-up s-white">Get The Details</a>
		</div>
		<div class="uio-box">
			<h2>[Play Video Button]</h2>
			<button type="button" class="s-btn-play">
				<span class="s-btn-img"><img src="/etc/designs/smg/global/imgs/btn-play-m.png" alt="" /></span>
				<span>Play video</span>
			</button>
		</div>


		<h1>Carousel - Slick</h1>
		<p>slick option : <a href="http://kenwheeler.github.io/slick/" target="_blank">http://kenwheeler.github.io/slick/</a></p>
		<p>[DIV]</p>
		<p>
		&nbsp;&nbsp;&nbsp;$(SELECTOR).slick({<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dots: true,<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;infinite: false,<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;speed: 300,<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;arrows: true<br>
		&nbsp;&nbsp;&nbsp;});
		</p>
		<div class="s-slick js-sample-carousel-div" style="position:relative">
			<div>
				<!-- slide content  -->
				<div style="width:100%;padding:200px 0;background-color:red;text-align:center">Slide 1</div>
			</div>
			<div>
				<!-- slide content  -->
				<div style="width:100%;padding:200px 0;background-color:blue;text-align:center">Slide 2</div>
			</div>
			<div>
				<!-- slide content  -->
				<div style="width:100%;padding:200px 0;background-color:green;text-align:center">Slide 3</div>
			</div>
			<div>
				<!-- slide content  -->
				<div style="width:100%;padding:200px 0;background-color:gray;text-align:center">Slide 3</div>
			</div>
		</div>

		<p>[UL]</p>
		<p>
		&nbsp;&nbsp;&nbsp;$(SELECTOR).slick({<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elements: 'ul'<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dots: true,<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;infinite: false,<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;speed: 300,<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;arrows: true<br>
		&nbsp;&nbsp;&nbsp;});
		</p>
		<div class="s-slick js-sample-carousel-ul" style="position:relative">
			<ul>
				<li>
					<!-- slide content  -->
					<div style="width:100%;padding:200px 0;background-color:red;text-align:center">Slide 1</div>
				</li>
				<li>
					<!-- slide content  -->
					<div style="width:100%;padding:200px 0;background-color:blue;text-align:center">Slide 2</div>
				</li>
				<li>
					<!-- slide content  -->
					<div style="width:100%;padding:200px 0;background-color:green;text-align:center">Slide 3</div>
				</li>
				<li>
					<!-- slide content  -->
					<div style="width:100%;padding:200px 0;background-color:gray;text-align:center">Slide 3</div>
				</li>
			</ul>
		</div>

		<h1>Video</h1>
		<div class="uio-box" style="height: 500px">
			<h2>[Youtube]</h2>
			<button type="button" class="s-btn-play js-video js-pop-btn"
				data-vid-type="youtube"
				data-vid-view="layer"
				data-vid-data='{
				"videoID" : "cyohHyQl-kc",
				"autoPlay" : "true",
				"divID" : "youtube_uniq_id_6"}'>
				<span class="s-btn-img"><img src="/etc/designs/smg/global/imgs/btn-play-m.png" alt="" /></span>
				<span>Play video</span>
			</button>
			<!--/* video */-->
			<div class="s-video-area video-area_5">
				<div class="s-video-wrap video-wrap">
					<div id="youtube_uniq_id_6" class="s-video-container brightCoveArea"></div>
					<button type="button" class="s-media-close brightcove-bcc-btn-close js-pop-close" data-div-id="youtube_uniq_id_6">Close</button>
				</div>
			</div>
			<!--/* video */-->
		</div>
		<div class="uio-box" style="height: 500px">
			<h2>[Brightcove]</h2>
			<button type="button" class="s-btn-play js-video js-pop-btn"
				data-vid-type="brightcove"
				data-vid-view="layer"
				data-vid-data='{
				"playerType" : "brightcoveBc5PlayerLayer",
				"countryCode" : "DEV",
				"divID" : "brightcove_uniq_id_1",
				"videoTagID" : "brightcove_uniq_tag_1",
				"videoID" : "4110639000001",
				"videoWidth" : "100%",
				"videoHeight" : "100%",
				"autoPlay" : "true",
				"captionURL" : ""}'>
				<span class="s-btn-img"><img src="/etc/designs/smg/global/imgs/btn-play-m.png" alt="" /></span>
				<span>Play video</span>
			</button>
			<!--/* video */-->
			<div class="s-video-area video-area_5">
				<div class="s-video-wrap video-wrap">
					<div id="brightcove_uniq_id_1" class="s-video-container brightCoveArea"></div>
					<button type="button" class="s-media-close brightcove-bcc-btn-close js-pop-close" data-div-id="brightcove_uniq_id_1">Close</button>
				</div>
			</div>
			<!--/* video */-->
		</div>

    <h1>Carousel - Swiper</h1>
    <p>Swiper API : <a href="https://github.com/nolimits4web/Swiper/blob/Swiper2/API.md" target="_blank">https://github.com/nolimits4web/Swiper/blob/Swiper2/API.md</a>
    </p>
    <div class="uio-box">
      <h2>Swiper demos</h2>
      <ul>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/01-default.html">01-default</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/02-vertical-mode.html">02-vertical-mode</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/03-dynamic-slides.html">03-dynamic-slides</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/04-scroll-container.html">04-scroll-container</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/05-free-mode.html">05-free-mode</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/06-carousel-mode.html">06-carousel-mode</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/07-carousel-loop.html">07-carousel-loop</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/08-nested.html">08-nested</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/09-nested-loop.html">09-nested-loop</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/10-tabs.html">10-tabs</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/11-tabs-feedback.html">11-tabs-feedback</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/12-partial-display.html">12-partial-display</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/13-threshold.html">13-threshold</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/14-different-widths.html">14-different-widths</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/15-centered-slides.html">15-centered-slides</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/16-visibility-api.html">16-visibility-api</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/17-responsive.html">17-responsive</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/18-pull-to-refresh.html">18-pull-to-refresh</a></li>
        <li><a href="http://telltrue33.nayana.com/jquery/plugin/m_slide/19-chaining.html">19-chaining</a></li>
      </ul>
    </div>

	</div>
	<!--/* //content */-->
</div>

<button type="button">버튼</button>
<button type="button" disabled="disabled">버튼</button>

<!--#include virtual="/@include/js-common.html"-->
<!--/* common js */-->
<script src="/etc/designs/smg/global/templates/clientlibs/js/main.js"></script>
<script>
	;(function($) {
		'use strict';

		$(function() {
			$('.js-sample-carousel-div').slick({
				dots: true,
				infinite: false,
				speed: 300,
				arrows: true
			});
			$('.js-sample-carousel-ul').slick({
				elements: 'ul',
				dots: true,
				infinite: false,
				speed: 300,
				arrows: true
			});
		});
	})(window.jQuery);
</script>

</body>
</html>