<!DOCTYPE html>
<html lang="en" itemscope="" itemtype="http://schema.org/WebPage">
<head>
<title>title - SAMSUNG #name of state</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<link rel="canonical" href="#canonical url">
<link rel="alternate" hreflang="x-default" href="http://www.samsung.com/">
<link rel="alternate" hreflang="#iso language code-iso region code" href="#local languages url">
<meta name="title" content="#title">
<meta name="keywords" content="#keywords">
<meta name="description" content="#description">
<meta name="date" content="#date">
<meta name="sitecode" content="#sitecode">
<meta name="twitter:card" content="#summary">
<meta name="twitter:site" content="#twitter @username">
<meta name="twitter:creator" content="#twitter @username">
<meta name="twitter:url" content="#url">
<meta name="twitter:title" content="#title">
<meta name="twitter:description" content="#title">
<meta name='twitter:image' content="#http://www.samsung.com/#An image of the page">
<meta property="og:url" content="#url">
<meta property="og:image" content="http://www.samsung.com/common/img/samsung-logo.jpg">
<meta property="og:type" content="#type keyword">
<meta property="og:site_name" content="#site name">
<meta property="og:title"       content="#title"/>
<meta property="og:description" content="#decription"/>
<meta property="og:country-name" content="#sitecode"/>
<meta property="fb:admins" content="#facebook server admins"/>
<meta property="fb:app_id" content="#facebook sercer app id"/>
<meta itemprop="name" content="#The name of the page">
<meta itemprop="image" content="http://www.samsung.com/#An image of the page">
<meta itemprop="url" content="#URL of page">
<meta itemprop="description" content="#A short description of the item.">
<meta itemprop="keywords" content="#keywords of page">
<link rel="shortcut icon" href="#favicon image">
<link rel="apple-touch-icon" href="#App icon image">
<!--[if lt IE 9]>
	<script src="/etc/designs/smg/global/ie9/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
<!-- Local CSS -->
</head>
<body>
<div id="wrap">
	<div class="s-skip-content">
		<a href="#content" id="skipToContent">Skip to content</a>
		<a href="#accHelp" id="skipToAccHelp">Skip to accessibility help</a>
	</div>
	<!-- header -->
	
	<!--/* content */-->
	<div id="content" role="main">
		<!--/* Components */-->
	</div>

	<!-- footer -->
</div>
<!--/* js-common */-->
<!--#include virtual="/@include/js-common.html"-->
<!--/* common js */-->
<script src="/etc/designs/smg/global/templates/clientlibs/js/main.js"></script>
<!--/* //js-common */-->
</body>
</html>
